insmod all_video
insmod gfxterm
insmod linux
insmod search_label

search --set=root --no-floppy --label INSTALLER_CENTOS7

set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep

menuentry "Install CentOS 7 with Tencent Linux kernel" {
    linux /live/vmlinuz boot=live components live-media-path=/live console=tty0 console=ttyS0,115200n8
    initrd /live/initrd
}
